@import url('~select2/dist/css/select2.min.css');
@import url('~datatables.net-dt/css/jquery.dataTables.min.css');
@import url('~datatables.net-select-dt/css/select.dataTables.min.css');;
@font-face {
    font-family: Nunito;
    src: url("fonts/Nunito-Regular.ttf");
}
$placeHolderColor: #01a4a099;
$inputColor: #0375b4;
$mainColor2: #006ca3;
$mainColor: #01a5a0;
$secondColor: #00bd95;
$secondColor2: #00c193;
$errorBackground: #ff4b4b2b;
$sucessBackground: #228b221f;
$borderColor: #32a3a3;

body {
    font-family: Nunito, sans-serif !important;
}


// Back to top

@import url('back-to-top-rocket.css');

// .///////////////

.logo-img {
    position: relative;
    width: 40px !important;
    margin-left: 15px;

    img {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}
.logo-text {
    position: absolute;
    text-transform: none;
    top: 15%;
}
.top-left-part {
    width: 145px !important;
}
@media (max-width: 767px) {
    .top-left-part {
        width: auto !important;
    }
}
.btn {
    transition: .25s ease-in-out;
}
.cursor-pointer {
    cursor: pointer !important;
}
.background-main-color {
    background: $mainColor !important;
}
.border-none {
    border: none !important;
}
blockquote {
    border: none;
    border-left: none !important;
    font-size: 1.35rem;
    font-style: italic;
}
.disabled {
    background-color: #eee !important;
    padding-left: 15px !important;
}
.alert-success {
    background: $secondColor2;
    border-color: $secondColor2;
}
.alert-dismissable .close, .alert-dismissible .close {
    opacity: .6;
}
.dropdown-user {
    li {
        .dw-user-box {
            .u-img {
                width: 35%;
            }
            .u-text {
                width: calc(100% - 35% - 10px);
            }
        }
    }
}
.dot-dot-dot {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}
.dmovie-btn {
    border-radius: 0;
    font-weight: 600;
    font-size: 1.75rem;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    .btn-label {
        background: transparent;
    }
}
.dmovie-btn-success {
    background: $secondColor2;
    color: #fff;
    border-color: $secondColor2;
    &:hover {
        color: #fafafa;
        border-color: $secondColor2;
        background: $secondColor;
    }
}
.dmovie-table {
    border-left-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
    border-right-width: 1px;
    border-color: $mainColor2 !important;
    tr {
        td{
            border-right: 1px dotted $mainColor2;
            cursor: pointer;
        }
        td:nth-last-child(1) {
            border: 0;
        }
        background: $mainColor2;
        th {
            color: #fff;
            font-weight: 700;
            border: none !important;
            border-right: 1px solid #f2f2f29e !important;
        }
        th:nth-last-child(1) {
            border-right: none !important;
        }
    }
}
.dmovie-error-box {
    display: block;
    width: 100%;
    padding: 7px 5px;
    border: 1px solid red;
    margin-top: 5px;
    background: #ffe2d973;
    font-weight: 300;
}
.dmovie-fix-top-block {
    position: fixed;
    z-index: 999;
}
.display-none {
    display: none !important;
}
.dmovie-swal {
    width: 640px !important;

}
.swal2-popup {
    font-size: 1.6rem !important;
}
.alert-danger {
    color: red;
    background: $errorBackground;
}
.alert-success {
    color: forestgreen;
    border-color: forestgreen;
    background: $sucessBackground;
}
.dmovie-img-cover-container {
    max-width: 36px;
    max-height: 36px;
    width: 36px;
    height: 36px;
    display: inline-block;
}
.dmovie-img-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.h-30 {
    height: 30px !important;
}
.h-32 {
    height: 32px !important;
}
.dmovie-select2-selection-border, .dmovie-textbox-border {
    border-color: $borderColor;
    border-radius: 0 !important;
}
.dmovie-background-main {
    background: $mainColor !important;
}
.dmovie-border-main {
    border-color: $mainColor !important;
}
.dmovie-background-main-2 {
    background: $mainColor2 !important;
}
.dmovie-border-main-2 {
    border-color: $mainColor2 !important;
}

.border-radius-0 {
    border-radius: 0 !important;
}
// Profile page
// Override css
.dataTables_wrapper {
    .dataTables_paginate {
        .paginate_button {
            border-radius: 0 !important;
        }
        .paginate_button.current, {
            background: $mainColor !important;
            border-color: $mainColor !important;
            &:hover {
                background: $mainColor !important;
                border-color: $mainColor !important;
            }
        }
        .paginate_button:hover {
            background: $mainColor2 !important;
            border-color: $mainColor2 !important;
        }
        .paginate_button.disabled:hover {
            background: transparent !important;
            border-color: transparent !important;
        }
    }
}

.select2-container {
    .select2-selection--single {
        height: 38px !important;
    }
}
.select2-container--default {
    .select2-selection--single {
        .select2-selection__arrow {
            height: 34px;
        }
        .select2-selection__rendered {
            line-height: 38px !important;
        }
    }
}
.select2-container--open {
    .select2-dropdown {
        border-radius: 0;
        .select2-results {
            .select2-results__options {
                &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                    background-color: #F5F5F5;
                }
                &::-webkit-scrollbar {
                    width: 10px;
                    background-color: #F5F5F5;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #0ae;
                    background-image: linear-gradient(to top, #36b29ae0 0%, #2a85ac 100%);
                }
            }
        }
    }
}

.dmovie-checkbox {
    display: flex;
    width: 100%;
    height: 100%;
    label {
        width: 20px;
        height: 20px;
        margin: 0;
        border: 1px solid;
        position: relative;
    }
    label:after {
        content: "\F12C";
        //content: "\f00c";
        //font-family: 'FontAwesome';
        font-family: "Material Design Icons";
        color: #313131;
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 24%;
        left: 47%;
        font-size: 1.9rem;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity .25s ease-out;
    }
    input:checked + label:after {
        opacity: 1;
    }
}

.margin-0-auto {
    margin: 0 auto;
}
.width-100 {
    width: 100%;
}
.invalid {
    outline: red solid 1px !important;
    padding: 0px 10px !important;
    background-image: none !important;
    border-color: transparent;
    &:focus {
        border-color: transparent;
    }
}
.select-none {
    user-select: none !important;
}
