@import url('~select2/dist/css/select2.min.css');
@import url('~datatables.net-dt/css/jquery.dataTables.min.css');
//@import url('~datatables.net-buttons-bs4/css/buttons.bootstrap4.css');
@import url('~datatables.net-buttons-dt/css/buttons.dataTables.css');
@import url('~@fancyapps/fancybox/dist/jquery.fancybox.min.css');
@import url('~pretty-checkbox');
@import url('~jquery-ui/themes/base/all.css');
@import 'simple_tooltip';

@font-face {
    font-family: Nunito;
    src: url("fonts/Nunito-Regular.ttf");
}
$placeHolderColor: #01a4a099;
$inputColor: #0375b4;
$mainColor2: #006ca3;
$mainColor: #01a5a0;
$secondColor: #00bd95;
$secondColor2: #00c193;
$errorBackground: #ff4b4b2b;
$sucessBackground: #228b221f;
$borderColor: #32a3a3;
$borderColor2: #01a1a2;

$warningBg: rgba(255, 195, 109, .4);

$defaultBg: #f8f8f8;

$dmovieColor_1: #006ca308;
$dmovieColor_2: #006ca308;
$dmovieColor_3: #f90;
$dmovieColor_4: #313131;

$cMark1: #2cabe3;
$cMark2: rgba(4, 118, 180, 0.75);
$cmark3: rgba(0, 193, 147, .75);
$cmark4: #ff9915;
$cmark5: rgba(255, 29, 29, 0.75);


body {
    font-family: Nunito, sans-serif !important;
}


// Back to top

@import url('back-to-top-rocket.css');

// .///////////////

.dmovie-tooltip {
    background: $mainColor2 !important;
    color: #f2f2f2 !important;
    // border: 1px solid #f2f2f2 !important;
    border-radius: 12px !important;
    font-size: 1.5rem !important;
    box-shadow: 0px 5px 20px 3px rgba(0, 0, 0, .4) !important;
    z-index: 99999;
    background-color: rgba(59, 72, 80, 0.9) !important;
    background-image: linear-gradient(30deg, rgba(59, 72, 80, 0.44), rgba(59, 68, 75, 0.44), rgba(60, 82, 88, 0.44)) !important;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2) !important;
    padding-top: 3px;
    padding-bottom: 3px;
}

.logo-img {
    position: relative;
    width: 40px !important;
    margin-left: 15px;

    img {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}
.logo-text {
    position: absolute;
    text-transform: none;
    top: 15%;
}
.top-left-part {
    width: auto !important;
}
@media (max-width: 767px) {
    .top-left-part {
        width: auto !important;
    }
}
.btn {
    transition: .25s ease-in-out;
}
.cursor-pointer {
    cursor: pointer !important;
}
.background-main-color {
    background: $mainColor !important;
}
.border-none {
    border: none !important;
}
blockquote {
    border: none;
    border-left: none !important;
    font-size: 1.35rem;
    font-style: italic;
}
.disabled {
    background-color: #eee !important;
    padding-left: 15px !important;
}
.alert-success {
    background: $secondColor2;
    border-color: $secondColor2;
}
.alert-warning {
    background: $warningBg;
    color: $dmovieColor_3;
}
.alert-dismissable .close, .alert-dismissible .close {
    opacity: .6;
}
.dropdown-user {
    li {
        .dw-user-box {
            .u-img {
                width: 35%;
            }
            .u-text {
                width: calc(100% - 35% - 10px);
            }
        }
    }
}
.dot-dot-dot {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}
.dmovie-btn {
    border-radius: 0;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    display: inline-block;
    color: $dmovieColor_4;
    .btn-label {
        background: transparent;
    }
}
.dmovie-btn-large {
    padding: 13px 40px;
}
.dmovie-btn-success {
    background: $secondColor2;
    color: #fff;
    border-color: $secondColor2;
    &:hover {
        color: #fafafa;
        border-color: $secondColor2;
        background: $secondColor;
    }
}
[id$="_ajax_dt_wrapper"] {
    min-height: 500px;
}
div[id^="details-dt-"] {
    margin-top: 15px;
}

.dmovie-table.details-table {
    border: 1px solid $mainColor !important;
    thead {
        tr {
            th {
                background: $mainColor;
            }
        }
    }
    tbody {
        tr {
            td{
                border-right: 1px dotted $mainColor;
                cursor: pointer;
                border-top: none !important;

            }
            td:nth-last-child(1) {
                border: 0;
            }
        }
    }
}
.dmovie-border-top {
    border-top: 1px solid $mainColor2 !important;
}
.dmovie-table {
    border-left-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
    border-right-width: 1px;
    border-color: $mainColor2 !important;
    border-collapse: collapse !important;

    tr {
        td{
            border-right: 1px dotted $mainColor2;
            cursor: pointer;
            border-top: none !important;
        }
        td:nth-last-child(1) {
            border: 0;
        }
        background: $mainColor2;
        th {
            color: #fff;
            font-weight: 700;
            border: none !important;
            border-right: 1px solid #f2f2f29e !important;
        }
        th:nth-last-child(1) {
            border-right: none !important;
        }
        &.shown {
            border-bottom: 1px solid $mainColor2;
        }
    }
}
.sidebar {
    z-index: 100000;
}
.preloader {
    z-index: 100001;
}
.dmovie-error-box {
    display: block;
    width: 100%;
    padding: 7px 5px;
    border: 1px solid red;
    margin-top: 5px;
    background: #ffe2d973;
    font-weight: 300;
}
#dmovie-fix-top-block {
    min-height: 50px;
    transition: all .5s ease-in-out;
}
.overflow-x-auto {
    overflow-x: auto;
}
.display-none {
    display: none !important;
}
.dmovie-swal {
    width: 640px !important;

}
.swal2-popup {
    font-size: 1.6rem !important;
}
.alert-danger {
    color: red;
    background: $errorBackground;
}
.alert-success {
    color: forestgreen;
    border-color: forestgreen;
    background: $sucessBackground;
}
.dmovie-img-cover-container {
    max-width: 36px;
    max-height: 36px;
    width: 36px;
    height: 36px;
    display: inline-block;
}
.dmovie-img-cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.h-30 {
    height: 30px !important;
}
.h-32 {
    height: 32px !important;
}
.dmovie-background-main {
    background: $mainColor !important;
}
.dmovie-border-main {
    border-color: $mainColor !important;
}
.dmovie-background-main-2 {
    background: $mainColor2 !important;
}
.dmovie-border-main-2 {
    border-color: $mainColor2 !important;
}

.border-radius-0 {
    border-radius: 0 !important;
}
// Profile page
// Override css
.dataTables_wrapper {
    .dataTables_paginate {
        .paginate_button {
            border-radius: 0 !important;
        }
        .paginate_button.current, {
            background: $mainColor !important;
            border-color: $mainColor !important;
            color: #f2f2f2 !important;
            &:hover {
                background: $mainColor !important;
                border-color: $mainColor !important;
            }
        }
        .paginate_button:hover {
            background: $mainColor2 !important;
            border-color: $mainColor2 !important;
        }
        .paginate_button.disabled:hover {
            background: transparent !important;
            border-color: transparent !important;
        }
    }
}

table.dataTable {
    thead {
        th:first-child {
            padding: 8px 10px;
        }
    }
}
table.dataTable{
    thead {
        .sorting, .sorting_desc, .sorting_asc{
            &:after {
                content: none;
            }
        }
    }
}

.select2-container {
    .select2-selection--single {
        height: 38px !important;
    }
}
.select2-container--default {
    .select2-selection--single {
        .select2-selection__arrow {
            height: 34px;
        }
        .select2-selection__rendered {
            line-height: 38px !important;
        }
    }
}
.select2-container--open {
    .select2-dropdown {
        border-radius: 0;
        z-index: 1061;
        .select2-results {
            .select2-results__options {
                &::-webkit-scrollbar-track {
                    background-color: #F5F5F5;
                }
                &::-webkit-scrollbar {
                    width: 10px;
                    background-color: #F5F5F5;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #0ae;
                    background-image: linear-gradient(to top, #36b29ae0 0%, #2a85ac 100%);
                }
            }
        }
    }
}

.dmovie-checkbox {
    display: flex;
    width: 100%;
    height: 100%;
    label {
        width: 20px;
        height: 20px;
        margin: 0;
        border: 1px solid $borderColor;
        position: relative;
    }
    label:after {
        content: "\F12C";
        //content: "\f00c";
        //font-family: 'FontAwesome';
        font-family: "Material Design Icons";
        color: $dmovieColor_4;
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 24%;
        left: 47%;
        font-size: 1.9rem;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity .25s ease-out;
    }
    input:checked + label:after {
        opacity: 1;
    }
}

.dmovie-checkbox-override {
    label:before {
        width: 20px;
        height: 20px;
        border-color: $borderColor;
    }
    label:after {
        //content: "\f00c";
        //font-family: 'FontAwesome';
        font-size: 1.9rem;
        top: -20.9%;
        left: -2.5%;
        transition: opacity .25s ease-out;
    }
}

.selected-rows-label-container {
    padding: 6px 12px;
    .selected-rows-label {

    }
}

.dropdown-menu {
    li {
        a {
            &:hover {
                background: $borderColor;
                color: white;
            }
        }
    }
}

.dmovie-flex-container {
    display: flex;
    justify-content: center;

    .pretty.dmovie-switch {
        margin-right: 0;
        .state {
            &::before {
                border-radius: 0;
            }
            label {
                &::before, &::after{
                    border-radius: 10%;
                }
            }
        }
    }
}

.slide-item {
    width: 100px;
    height: 75px;
    position: relative;
    border: 1px solid #32a3a3;
    display: inline-block;

    img.slide-item-image {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
    }
}

.dmovie-tags {
    min-height: 38px;
}
.dmovie-tags .bootstrap-tagsinput {
    border-radius: 0;
    width: 100%;
    box-shadow: none;
    border: none;
    height: 100%;
    padding: 7px 12px;
    input {
        width: 100%;
        padding: 0;
    }

    .dmovie-tag {
        background: $mainColor;
        color: #f2f2f2;
        display: inline-block;
    }
}
.input-group-btn-vertical {
    .btn-default {
        padding: 9px 10px !important;
        border-radius: 0 !important;
        border-top-color: $borderColor;
        border-right-color: $borderColor;
        border-bottom-color: $borderColor;
        color: $borderColor;
    }
}
.input-group-addon {
    border-radius: 0;
    border-top-color: $borderColor;
    border-right-color: $borderColor;
    border-bottom-color: $borderColor;
    color: $borderColor;
}

.dmovie-select2-selection-border, .dmovie-textbox-border {
    border-color: $borderColor;
    border-radius: 0 !important;
}

.pretty.p-switch.p-fill input:checked~.state.p-success:before {
    background: $mainColor !important;
}

.fancybox-container {
    z-index: 999929;
}

#checkbox-all {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.float-left {
    float: left !important;
}

.background-fff {
    background: #fff !important;
}

.margin-0-auto {
    margin: 0 auto !important;
}
.width-100 {
    width: 100%;
}
.select-none {
    user-select: none !important;
}
.z-index-99999 {
    z-index: 99999 !important;
}
.dmovie-border {
    border: 1px solid $borderColor !important;
    border-radius: 0 !important;
}
.form-control {
    border-radius: 0 !important;
}
.form-control:focus {
    border: 1px solid $borderColor !important;
}
.dt-buttons {
    user-select: none;
}
div.dt-button-collection {
    width: 500px !important;
    border-radius: 0 !important;

    button.dt-button {
        border-color: $borderColor;
        width: auto;
        display: inline;
    }
    button.dt-button.active:not(.disabled) {
        background-color: $mainColor;
        background-image: none;
        color: #fff0f0;
        box-shadow: none;
        &:hover:not(.disabled) {
            background-image: none;
            background-color: $mainColor;
        }
    }
}
#datatables_buttons_info {
    border: 2px solid $borderColor;
    border-radius: 0;
}
.dmovie-datepicker {
    .datepicker--pointer {
        border-top-color: $borderColor;
        border-right-color: $borderColor;
    }
    .datepicker--cell.-selected-, .datepicker--cell.-selected-.-current- {
        background: $secondColor;
    }
    .datepicker--cell.-selected-.-focus- {
        background: $mainColor;
    }
}
.clockpicker-popover {
    border-color: $borderColor !important;
    border-radius: 0 !important;
    .arrow {
        border-bottom-color: $borderColor !important;
    }
}
.selected {
    background: $dmovieColor_1 !important;
    .sorting_1 {
        background: $dmovieColor_2 !important;
    }
}
.invalid {
    outline: red solid 1px !important;
    padding: 0px 10px !important;
    background-image: none !important;
    border-color: transparent !important;
    &:focus {
        border-color: transparent;
    }
}

.invalid-border {
    border: 1px solid red !important;
    padding: 0px 10px !important;
}

.jq-toast-single {
    font-family: Nunito, sans-serif;
    font-size: 1.5rem;
}

.min-width-111 {
    min-width: 111px !important;
}
.min-width-100 {
    min-width: 100px !important;
}
.min-width-90 {
    min-width: 90px !important;
}
.min-width-85 {
    min-width: 85px !important;
}
.min-width-80 {
    min-width: 80px !important;
}
.min-width-75 {
    min-width: 75px !important;
}
.min-width-70 {
    min-width: 70px !important;
}
.min-width-60 {
    min-width: 60px !important;
}
.min-width-65 {
    min-width: 65px !important;
}
.min-width-55 {
    min-width: 55px !important;
}
.min-width-50 {
    min-width: 50px !important;
}
.fixed {
    position: fixed;
    top: 60px;
    left: 30px;
    width: calc(100%);
    z-index: 99;
    background: $defaultBg;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.2);
    padding: 10px 10px 9px;
}
.size-32 {
    width: 32px;
}
.display-block {
    display: block !important;
}
.text-left {
    text-align: left !important;
}
.w-25 {
    width: 25% !important;
}
.w-50 {
    width: 50% !important;
}
.w-75 {
    width: 75% !important;
}
.w-100 {
    width: 100% !important;
}
d-mark-1 {
    color: #f2f2f2;
    background-color: $cMark1;
    &:hover {
        font-size: 100%;
    }
}
d-mark-create, d-mark-update, d-mark-delete, d-mark-1, d-mark-model {
    padding: 1.5px 4px;
    font-size: 80%;
    border-radius: 4px;
    transition: all .3s ease-out;
    font-weight: 800;
}
d-mark-create {
    color: #fff;
    background: $cMark2;
}
d-mark-update {
    color: #fff;
    background-color: $cmark3;
}
d-mark-delete {
    color: #fff;
    background-color: $cmark5;
}
d-mark-model {
    color: #fff;
    background-color: $cmark4;
}
