@font-face {
  font-family: Nunito;
  src: url(/fonts/Nunito-Regular.ttf?d2e691bc4a2b696929172cb3d22ce8ba);
}

body {
  font-family: Nunito, sans-serif !important;
}

.logo-img {
  position: relative;
  width: 40px !important;
  margin-left: 15px;
}

.logo-img img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.logo-text {
  position: absolute;
  text-transform: none;
  top: 15%;
}

.top-left-part {
  width: 145px !important;
}

@media (max-width: 767px) {
  .top-left-part {
    width: auto !important;
  }
}

.btn {
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.cursor-pointer {
  cursor: pointer !important;
}

.background-main-color {
  background: #01a5a0 !important;
}

.border-none {
  border: none !important;
}

blockquote {
  border: none;
  border-left: none !important;
  font-size: 1.35rem;
  font-style: italic;
}

.invalid {
  outline: red solid 1px !important;
  padding: 0px 10px !important;
  background-image: none !important;
}

