.slide-item {
    width: 100px;
    height: 75px;
    position: relative;
    border: 1px solid #32a3a3;
    display: inline-block;
}
.slide-item img.slide-item-image {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
